
@{
    ViewBag.Title = "PeopleProTraining";
}

<div class="jumbotron">
    <h1> PeoplePro </h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to my sample Webapp</h2>
        <p>
            This is a training application developed by Taylor Griffin.
            The source code can be seen on my github.
        </p>
        <p>
            <a class="btn btn-default" href="https://github.com/taylorrgriffin/SDGTraining">View Source Code &raquo;</a>
        </p>
    </div>
</div>

